<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.edu.pku.yangchao.miniweather">

    <!--增加访问internet的权限-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--设置访问网络状态的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <!--注册application： android:name="cn.edu.pku.yangchao.app.MyApplication"-->
    <application
        android:name="cn.edu.pku.yangchao.app.MyApplication"

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <!--注册选择城市的活动组件-->
        <activity android:name=".SelectCity">

        </activity>
    </application>
</manifest>
